/* Style.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #060f0f;
    background-image: url("https://media.tenor.com/GtDkRSPU9CgAAAAC/cloud-weather.gif");
    background-size: cover;
    background-position: center;
  }
  
  .inputData {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .inputField {
    border: none;
    padding: 8px;
    flex: 1;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
  }
  
  .info {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .location {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .temp {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  .tempmin_max {
    font-size: 18px;
  }
  
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
   
  }
  
  .wave.-one {
    opacity: 0.2;
    animation: wave-one 3s infinite linear;
  }
  
  .wave.-two {
    opacity: 0.4;
    animation: wave-two 4s infinite linear;
  }
  
  .wave.-three {
    opacity: 0.6;
    animation: wave-three 5s infinite linear;
  }
  
  @keyframes wave-one {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes wave-two {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes wave-three {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  